<%- include('layout/header') %>
<div class="container-sm">
    <h3 class="fs-4 bg-light py-2 ps-2 mb-4 border-bottom border-5 border-success">Edit a patron</h3>
    <% if ( patron != '' ) { %>
    <form method="POST" action="/api/patrons/editPatron/<%=patron._id%>" id="add-form">
        <div class="mb-3">
            <label for="title" class="form-label">Firstname</label>
            <input type="text" class="form-control"  id="firstname" name="firstname" placeholder="firstname" required value="<%= patron.firstname %>" >
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Lastname</label>
            <input type="text" class="form-control" id="author" name="lastname" placeholder="lastname" required value="<%= patron.lastname %>">
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">Address</label>
            <input type="text" class="form-control" id="isbn" name="address" placeholder="address" required value="<%= patron.address %>">
        </div>
        <div>
            <label for="isbn" class="form-label">Cardnumber</label>
            <input type="text" class="form-control" id="isbn" name="cardnumber" placeholder="cardnumber" required value="<%= patron.cardnumber %>">
        </div>
        
        <div class="mb-3">
            <label for="isbn" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email" required value="<%= patron.email %>">
        </div>    

        <div class="mb-3">
            <label for="isbn" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="phone" required value="<%= patron.phone %>">
        </div>    
        
        <button type="submit" class="btn btn-primary mb-3">Edit a Patron</button>
    </form>
    <% } else { %> }
        <h1 class="text-center text-seconday mt-5">Patron is not found! </h1>
    <% } %>
</div>
<%- include('layout/footer') %>